html, body {
	height: 100%;
	width: 100%;
	font-family: fancy;
	margin: 0;
}

body {
	background-color: #aaf37c;
}

.buffer {
	height: 20rem;
}

.abimg {
	background-image: url("loveg.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@font-face {
	font-family: fancy;
	src: url(Agdasima-Regular.ttf);
	color: rgba(79, 2, 119, 1);
}

.pop, .pop2, .pop3, .pop4, .pop5 {
	animation: popin ease-in 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.pop {
	animation-delay: 1.1s;
}

.pop2 {
	animation-delay: 1.08s; 
}

.pop3 {
	animation-delay: 1.3s; 
}

.pop4 {
	animation-delay: 1.2s;
}

.pop5 {
	animation-delay: 1.4s; 
}

.cap {
	max-width: 35vw;
	max-height: 50vh; 
}

@keyframes popin {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.card {
	margin: 5%;
}

h1 {
	font-size: 15vw;
	text-shadow: 1px 1px 1px #aaf37c;
}

a {
	text-decoration: none;
	color: rgba(79, 2, 119, 1);
	text-shadow: 2px 2px 2px #aaf37c;
}

.anchor {
	position: absolute;
}

.abtext{
	font-size: 1.3rem;
	margin: 2rem;
	left: 3vw;
	font-weight: 600;
}

.slidein {
	color: rgba(79, 2, 119, 1);
	font-family: fancy;
	cursor: default;
	animation: slideInSnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes slideInSnimation {
	0% {
		transform: translatex(-100%);
	}
	100% {
		transform: translatex(0%);
	}
}

.cnav {
	margin: 1vw;
	font-size: 2rem;
}

.cardmod {
	min-width: 25vw;
}
