* {
    margin: 0;
    box-sizing: border-box;
}

.pointer {
    cursor: default;
}

@font-face {
	font-family: agdasima;
	src: url(Agdasima-Regular.ttf);
}

body, html {
    /*background: url(sbg.webp) no-repeat center center fixed;*/
    background: #6decb9; 
    background-size: cover;
    scrollbar-width: none; /* for Firefox */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*font-family: agdasima, sans-serif;*/
    font-family: "Kumbh Sans", sans-serif;
    scroll-behavior: smooth;
}

#contentbox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#navbar {
    background-color: rgba(63, 197, 240, 1);
    /*background-color: rgba(255, 255, 255, 1);*/
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    padding: 1rem;
    top: 0;
    z-index: 4;
}

#buttons a:hover {
    transform: scale(1.2);
}

#email:hover {
    transform: scale(1.2);
}

i:hover {
    transform: scale(1.2);
}

.hrnav {
    max-width: 33vw;
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    .hrnav {
        max-width: 75vw;
        margin: auto;
    }
}

.buffer {
    width: 100vw;
    height: 20vh;
}

#buttons {
    width: 100vw;
    display: flex;
    justify-content: end;
}

#buttons a {
    margin: 0 2rem 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    /*color: rgba(0, 0, 0, 1);*/
    color: rgba(238, 245, 178, 1);
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: rgba(238, 245, 178, 1);
    /*color: rgba(0, 0, 0, 1);*/
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 1500px) {
    h1 {
        font-size: 3rem;
    }
    #buttons {
        justify-content: center;
    }
    #buttons a {
        font-size: 1rem;
        margin: 1rem;
    }
}

#biopic {
    top: 0;
    max-height: 90%;
    max-width: 90%;
    float: right;
    margin: 1rem;
    border-radius: 10px;
}

#about {
    width: 100vw;
    padding: 1rem;
    background-color: rgba(238, 245, 178, 0.9);
    /*background-color: rgba(220, 220, 220, 0.9);*/
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#about p {
    margin: 2% 1% 2% 1%;
    font-size: 1.5rem;
    font-weight: 600;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card img {
	max-width: 90%;
	margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(238, 245, 178, 1);
  /*background-color: rgba(220, 220, 220, 1);*/
  text-align: center;
  font-family: inherit;
  padding: 1rem;
}

.card p {
    margin: 1rem;
}

.card button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 1500px) {
    .card {
        max-width: 40vw;
        font-size: 0.9rem;
        margin: 10px;
    }
    h2 {
    	font-size: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        max-width: 90vw;
        font-size: 0.8rem;
        margin: 5px;
    }
    h2 {
    	font-size: 1.5rem;
    }
}

a {
  text-decoration: none;
  color: inherit;
}

#contact {
    background-color: rgba(63, 197, 240, 1);
    /*background-color: rgba(255, 255, 255, 1);*/
    color: rgba(0, 0, 0, 1);
    width: 100vw;
    padding: 1rem;
}

h2 {
    font-size: 2rem;
    left: 0;
}

.hrcon {
    max-width: 10vw;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .hrcon {
        max-width: 20vw;
    }
}

footer h2 {
    color: rgba(238, 245, 178, 1);
}

#socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /*color: rgba(0, 0, 0, 1)*/
    color: rgba(238, 245, 178, 1);
    padding: 1rem;
}

#email {
    font-size: 1.2rem;
    font-weight: 600;
}

#dcred {
    margin: 0 1rem;
}

.holder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/*GALLERY*/

#gallery {
    background-color: rgba(238, 245, 178, 0.6);
    /*background-color: rgba(220, 220, 220, 0.8);*/
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  /*GALLERY END*/
